<mat-card class="p-3">
    <mat-card-header>
        <mat-card-title class="text-center">SELECTIONNER UN SERVEUR / LIVREUR</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <input type="text" class="form-control" name="" placeholder="Saisir le mot à recherche" id="">
        <hr>
        <div class="box overflow-auto">
            <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2" mat-dialog-close>
                <img src="assets/images/waitress.png" width="5%" class="d-block" alt="">
                <div>
                    <h3 class="card-title font-weight-bold ml-4" style="margin: 0;">SERVEUR 1</h3>
                    <span class="card-text b-block ml-4">Ruben Panga</span>
                </div>
            </mat-card>
            <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2" mat-dialog-close>
                <img src="assets/images/waitress.png" width="5%" class="d-block" alt="">
                <div>
                    <h3 class="card-title font-weight-bold ml-4" style="margin: 0;">SERVEUR 2</h3>
                    <span class="card-text b-block ml-4">Glody Ntumba</span>
                </div>
            </mat-card>
            <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2" mat-dialog-close>
                <img src="assets/images/waitress.png" width="5%" class="d-block" alt="">
                <div>
                    <h3 class="card-title font-weight-bold ml-4" style="margin: 0;">SERVEUR 3</h3>
                    <span class="card-text b-block ml-4">Rebecca Panga</span>
                </div>
            </mat-card>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="accent"><i class="fa ta-times"></i> FERMER</button>
    </mat-card-actions>
    
</mat-card>