<div class="col-sm-12 p-0">
    <h2 class="text-center text-muted font-italic">MENU EDITION DE DEVISE DE VENTE</h2>
    <hr>
    <div class="d-sm-flex col-sm-12">
        <div class="col-sm-4">

            <div class="box overflow-auto pb-2">
                <mat-card class="col-sm-12 shadow-0 mr-4 p-3 mt-2" *ngFor="let cat of listeTaux">
                    <span class="d-block font-weight-bold h5" style="margin: 0;">{{cat.from.description}} --> {{cat.to.description}} </span>
                    <span class="d-block font-weight-bold h7" style="margin: 0;">{{cat.taux}}</span>
                    <div class="mt-2">
                        <span class="d-inline-block cursor" (click)="edit(cat)"><i class="fa fa-edit fa-2x"></i> EDITER</span>
                        <span class="d-inline-block cursor ml-5"><i class="fa fa-trash fa-2x"></i> SUPPRIMER</span>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-7 ml-2" *ngIf="taux">
            <h4 class="text-center text-muted ">EDTION TAUX</h4>
            <hr>
            <h4 class="font-weight-bold">{{taux.from.description}} --> {{taux.from.description}} </h4>
            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>Taux</mat-label>
                <input type="text" [(ngModel)]="taux.taux" required matInput placeholder="" />
            </mat-form-field>

            <button (click)="valider()" mat-raised-button color="primary" class="p-2 d-inline-block"> <i class="fa fa-check"></i> VALIDER</button>
            <button (click)="resetArticle()" mat-raised-button color="accent" class="p-2 ml-5 d-inline-block"> <i class="fa fa-times"></i> REINITIALISER</button>
        </div>
    </div>
</div>