<div class="col-sm-12 p-0">
    <h2 class="text-center text-muted font-italic">MENU EDITION DES UTILISATEURS</h2>
    <hr>
    <div class="d-sm-flex col-sm-12">
        <div class="col-sm-4">
            <mat-card class="col-sm-12 d-flex shadow-0 mr-4 p-1 cursor mt-2" (click)="newArticle()">
                <span class="h3 text-center  p-1 font-weight-bold" style="margin: 0;"><i class="fa fa-plus"></i> NOUVEL UTILISATEUR</span>
            </mat-card>
            <input type="text" [(ngModel)]='motclef' class="form-control rounded-0 mt-2" placeholder="Entrer le mot à recherche">

            <div class="box overflow-auto pb-2">
                <mat-card class="col-sm-12 shadow-0 mr-4 p-3 mt-2" *ngFor="let cat of filtreData()">
                    <span class="d-block font-weight-bold h5" style="margin: 0;">{{cat.noms}}</span>
                    <span class="d-block font-weight-bold h7 mt-2" style="margin: 0;">Login: {{cat.username}}</span>
                    <span class="d-block font-weight-bold h7" style="margin: 0;">{{cat.role}}</span>
                    <span class="d-block font-weight-bold h7" style="margin: 0;">{{cat.telephone}} - {{cat.email}}</span>
                    <div class="mt-2">
                        <span class="d-inline-block cursor" (click)="edit(cat)"><i class="fa fa-edit fa-2x"></i> EDITER</span>
                        <span class="d-inline-block cursor ml-5"><i class="fa fa-trash fa-2x"></i> SUPPRIMER</span>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-7 ml-2" *ngIf="userEdit">
            <h4 class="text-center text-muted ">NOUVEL UTILISATEUR</h4>
            <hr>
            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>Noms</mat-label>
                <input type="text" [(ngModel)]="userEdit.noms" required matInput placeholder="" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-sm-12 p-0">
                <mat-label>Sexe</mat-label>
                <mat-select  [(ngModel)]="userEdit.sexe" >
                    <mat-option value="M">HOMME</mat-option>
                    <mat-option value="F">FEMME</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>Téléphone</mat-label>
                <input type="tel" [(ngModel)]="userEdit.telephone" required matInput placeholder="" />
            </mat-form-field>
            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>e-mail</mat-label>
                <input type="email" [(ngModel)]="userEdit.email" matInput placeholder="" />
            </mat-form-field>
            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>Adresse domicile</mat-label>
                <input type="text" [(ngModel)]="userEdit.adresse" required matInput placeholder="" />
            </mat-form-field>

            <hr>

            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>Nom d'utilisateur(Login)</mat-label>
                <input type="text" [(ngModel)]="userEdit.username" required matInput placeholder="" />
            </mat-form-field>

            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input type="password" [(ngModel)]="userEdit.password" required matInput placeholder="" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-sm-12 p-0">
                <mat-label>Rôle</mat-label>
                <mat-select  [(ngModel)]="userEdit.role" >
                    <mat-option value="SERVEUR">SERVEUR</mat-option>
                    <mat-option value="CAISSIER">CAISSIER</mat-option>
                    <mat-option value="ADMINISTRATEUR">ADMINISTRATEUR</mat-option>
                </mat-select>
            </mat-form-field>

            <button (click)="valider()" mat-raised-button color="primary" class="p-2 d-inline-block"> <i class="fa fa-check"></i> VALIDER</button>
            <button (click)="resetArticle()" mat-raised-button color="accent" class="p-2 ml-5 d-inline-block"> <i class="fa fa-times"></i> REINITIALISER</button>
        </div>
    </div>
</div>