
<div class="col-sm-12 d-sm-flex p-5 justify-content-around flex-wrap">
    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('commande')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">COMMANDE</h4>
        <mat-card-content>
            <img src="assets/images/file.png" width="35%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Menu d'établiseement des commandes. Ici on gère toutes les commandes 
                 des clients.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('facture')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">FACTURE</h4>
        <mat-card-content>
            <img src="assets/images/facture.png" width="35%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Menu d'établiseement des factures. Ici on gère toutes 
                 les factures des clients.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('paiement')">
        <h3 class="text-center font-weight-bold title p-1" style="margin: 0;">PAIEMENT</h3>
        <mat-card-content>
            <img src="assets/images/finance.png" width="35%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="col-sm-3 font-weight-bold shadow mr-4 cursor mt-2"  (click)="onMenuSelected('gestion-stock')">
        <h3 class="text-center title p-1" style="margin: 0;">GESTION DE STOCK</h3>
        <mat-card-content>
            <!-- <img src="assets/images/printer.png" width="35%" class="mx-auto d-block" alt=""> -->
            <img src="assets/images/archive.png" width="35%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Menu de gestion de stock et magasin. Ici on effectue toutes les opérations relatives 
                 articles.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 cursor mt-4">
        <h3 class="text-center font-weight-bold title p-1" style="margin: 0;">RAPPORT & STAT</h3>
        <mat-card-content>
            <img src="assets/images/statistique.png" width="35%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="col-sm-3 font-weight-bold shadow mr-4 cursor mt-4" (click)="onMenuSelected('settings')">
        <h3 class="text-center title p-1" style="margin: 0;">PARAMETRES</h3>
        <mat-card-content>
            <img src="assets/images/gear.png" width="35%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Menu de Configuration du système. 
            </p>
        </mat-card-content>
    </mat-card>
</div>