<div class="col-sm-6 offset-sm-3 p-0">
    <h2 class="text-center text-muted font-italic">MENU CONFIGURATION POUR LA FACTURE</h2>
    <hr>
    <div class="d-sm-flex col-sm-12">
        <div class="col-sm-12 ml-2" *ngIf="config">
            <h4 class="text-center text-muted ">EDITION CONFIGURATION</h4>
            <hr>
            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>Remise</mat-label>
                <input type="number" [(ngModel)]="config.remise" required matInput placeholder="" />
            </mat-form-field>

            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>Seuil de Remise</mat-label>
                <input type="number" [(ngModel)]="config.remiseApartirDe" required matInput placeholder="" />
            </mat-form-field>

            <!-- <mat-form-field appearance="outline" floatLabel="always" class="col-sm-12 p-0">
                <mat-label>SELECTIONNER LA DEVISE</mat-label>
                <mat-select required [(ngModel)]="config.fkDevise" >
                    <mat-option *ngFor="let devise of devises" value="{{devise.code}}">{{devise.code}}</mat-option>
                </mat-select>
            </mat-form-field> -->

            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="config.isPourcentage" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  La remise est en pourcentage
                </label>
            </div>

            <div class="form-check mt-2">
                <input class="form-check-input" [(ngModel)]="config.applyTaxe" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Appliquer les taxes configurer dans le système
                </label>
            </div>

            <button (click)="valider()" mat-raised-button color="primary" class="p-2 d-inline-block mt-3"> <i class="fa fa-check"></i> VALIDER</button>
            <button (click)="resetArticle()" mat-raised-button color="accent" class="p-2 ml-5 d-inline-block"> <i class="fa fa-times"></i> REINITIALISER</button>
        </div>
    </div>
</div>