<div class="col-sm-12 p-0">
    <div>
        <mat-form-field appearance="outline" class="col-sm-12 p-0">
            <mat-label>SELECTIONNER LA CATEGORIE</mat-label>
            <mat-select [(ngModel)]="fkCategorie" >
                <mat-option *ngFor="let categorie of categories" value="{{categorie.id}}">{{categorie.description}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="col-sm-12">
          <mat-label>Recherche rapide</mat-label>
          <input type="text" [(ngModel)]="motClef" matInput placeholder="A name to be remembered" />
        </mat-form-field>
    </div>

    <hr>

    <div class="box overflow-auto pb-2">
        <mat-card class="col-sm-12 shadow-0 mr-4 p-3 mt-2 bg-light" *ngFor="let cat of filtreData()">
            <span class="d-block font-weight-bold h5" style="margin: 0;">{{cat.nom}}</span>
            <span class="d-block font-weight-bold h7" style="margin: 0;">{{cat.code}}</span>
            <span class="d-block font-weight-bold h7" style="margin: 0;">{{cat.categorie.description}}</span>
            <span class="d-block font-weight-bold h7" style="margin: 0;">Unité de mesure:{{cat.uniteMesure}}</span>
            <span class="d-block font-weight-bold h7" style="margin: 0;" *ngIf="cat.tarif">Prix unitaire:{{cat.tarif?.montant}} {{cat.tarif?.devise.description}}</span>
            <span class="d-block font-weight-bold h7" style="margin: 0;" *ngIf="cat.tarif">Remise:{{cat.remise}} <span *ngIf="cat.isRemisePourcentage">%</span> <span *ngIf="cat.isRemisePourcentage">{{cat.tarif.devise.description}}</span></span>
            <span class="d-block font-weight-bold h7" style="margin: 0;">Seuil de remise:{{cat.remiseApartirDe}} {{cat.uniteMesure}}</span>

            <span class="d-block font-weight-bold h7" style="margin: 0;">Stock restant:{{cat.stockRestant}}</span>
            <span class="d-block font-weight-bold h7" style="margin: 0;">Seuil d'alerte:{{cat.stockAlert}}</span>

            <div class="mt-2">
                <button mat-button class="d-inline-block cursor" (click)="select(cat)"><i class="fa fa-check fa-2x"></i> SELECTIONNER</button>
            </div>
        </mat-card>
    </div>

</div>