<div class="col-sm-12 p-0">
    <h3 class="text-center border rounde p-2 cursor" (click)="openSelectFacture()">SELECTIONNER LA FACTURE</h3>
    <div *ngIf="facture">
        <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2">
            <div class="d-flex">
             <div>
                 <span class="d-block font-weight-bold h5" style="margin: 0;"> FACTURE N° {{facture.numero}}</span>
                 <span class="d-block font-weight-bold h7" style="margin: 0;">Table: {{facture.table}}</span>
                 <span class="d-block font-weight-bold h7" style="margin: 0;">Client: <input type="text" class="form-control-plaintext" [value]="facture.client"></span>
                 <span class="d-block font-weight-bold h7" style="margin: 0;">Remise:{{facture.remise}} <span *ngIf="facture.isRemisePourcentage">%</span> <span *ngIf="!facture.isRemisePourcentage">{{facture.fkDefaultDevise}}</span></span>
                 <span class="d-block font-weight-bold h7" style="margin: 0;">TVA(16%): {{facture.tva}} {{facture.fkDefaultDevise}}</span>
                 <span class="d-block font-weight-bold h7" style="margin: 0;">Montant total: {{facture.montantTotal}} {{facture.fkDefaultDevise}}</span>
             </div>
            </div>
         </mat-card>
         <div class="form-group d-flex">
             <label for="staticEmail" class="col-sm-3 col-form-label">Montant total USD:</label>
             <div class="col-sm-9">
               <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="facture.montantTotal">
             </div>
         </div>
         <div class="form-group d-flex">
             <label for="staticEmail" class="col-sm-3 col-form-label">Montant total CDF:</label>
             <div class="col-sm-9">
               <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="facture.montantTotal * facture.tauxDeChange">
             </div>
         </div>
         <div class="d-flex">
            <mat-form-field class="mt-2 ml-2" floatLabel="always" appearance="outline">
                <mat-label>Montant payé {{paiement.fkDevise}}</mat-label>
                <input type="number" [(ngModel)]="paiement.montantPaye" required matInput placeholder="" />
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" class="ml-2">
                <mat-label>SELECTIONNER LA DEVISE</mat-label>
                <mat-select required [(ngModel)]="paiement.fkDevise" (change)="changex()">
                    <mat-option *ngFor="let devise of devises" value="{{devise.code}}">{{devise.code}}</mat-option>
                </mat-select>
            </mat-form-field> -->
            <div class="form-group col-sm-3 mt-2 ml-2">
               <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="paiement.fkDevise" (change)="change()">
                 <option *ngFor="let devise of devises" value="{{devise.code}}">{{devise.code}}</option>
               </select>
             </div>
            <mat-form-field class="mt-2 ml-2" floatLabel="always" appearance="outline">
                <mat-label>Solde {{paiement.fkDevise}}</mat-label>
                <input type="number" [(ngModel)]="paiement.solde" [value]="solde()" required matInput placeholder="" />
            </mat-form-field>
         </div>

         <mat-form-field class="mt-2 ml-2 d-block" floatLabel="always" appearance="outline">
            <mat-label>Client</mat-label>
            <input type="text" [(ngModel)]="paiement.client" required matInput placeholder="" />
        </mat-form-field>
     
         <div (click)="valider()" class="btn btn-primary mt-2 col-sm-12 p-2">VALIDER</div>
    </div>

</div>