<div class="col-sm-12 d-sm-flex p-5 justify-content-around flex-wrap">
    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('edit-article')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">ARTICLE</h4>
        <mat-card-content>
            <img src="assets/images/bouteille.png" width="35%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('edit-categorie')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">CATEGORIE ARTICLE</h4>
        <mat-card-content>
            <img src="assets/images/article.png" width="35%" class="mx-auto d-block" alt="">
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('edit-devise')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">DEVISE</h4>
        <mat-card-content>
            <img src="assets/images/dollar.png" width="35%" class="mx-auto d-block" alt="">
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('edit-taux')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">TAUX DE CHANGE</h4>
        <mat-card-content>
            <img src="assets/images/dollar.png" width="35%" class="mx-auto d-block" alt="">
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('edit-taxe')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">TAXE</h4>
        <mat-card-content>
            <img src="assets/images/dollar.png" width="35%" class="mx-auto d-block" alt="">
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('edit-config')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">FACTURE</h4>
        <mat-card-content>
            <img src="assets/images/facture.png" width="35%" class="mx-auto d-block" alt="">
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('edit-site')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">SITE</h4>
        <mat-card-content>
            <img src="assets/images/site.png" width="35%" class="mx-auto d-block" alt="">
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('edit-fournisseur')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">FOURNISSEURS</h4>
        <mat-card-content>
            <img src="assets/images/fournisseur.png" width="35%" class="mx-auto d-block" alt="">
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2" (click)="onMenuSelected('edit-user')">
        <h4 class="text-center font-weight-bold title p-1" style="margin: 0;">UTILISATEURS</h4>
        <mat-card-content>
            <img src="assets/images/user.png" width="35%" class="mx-auto d-block" alt="">
        </mat-card-content>
    </mat-card>
    
</div>