<!-- <div class="col-sm-12 p-0">
    <input type="text" class="form-control" name="" placeholder="Saisir le mot à recherche" id="">
    <hr>
    <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2">
        <img src="assets/images/table.png" width="5%" class="d-block" alt="">
        <h3 class="card-title font-weight-bold ml-4" style="margin: 0;">TABLE 1</h3>
    </mat-card>
</div> -->

<mat-card class="p-3">
    <mat-card-header>
        <mat-card-title class="text-center">SELECTIONNER UNE TABLE</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <input type="text" class="form-control" name="" placeholder="Saisir le mot à recherche" id="">
        <hr>
        <div class="box overflow-auto">
            <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2" mat-dialog-close>
                <img src="assets/images/table.png" width="5%" class="d-block" alt="">
                <h3 class="card-title font-weight-bold ml-4" style="margin: 0;">TABLE 1</h3>
            </mat-card>
            <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2" mat-dialog-close>
                <img src="assets/images/table.png" width="5%" class="d-block" alt="">
                <h3 class="card-title font-weight-bold ml-4" style="margin: 0;">TABLE 2</h3>
            </mat-card>
            <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2" mat-dialog-close>
                <img src="assets/images/table.png" width="5%" class="d-block" alt="">
                <h3 class="card-title font-weight-bold ml-4" style="margin: 0;">TABLE 3</h3>
            </mat-card>
            <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2" mat-dialog-close>
                <img src="assets/images/table.png" width="5%" class="d-block" alt="">
                <h3 class="card-title font-weight-bold ml-4" style="margin: 0;">TABLE 4</h3>
            </mat-card>
            <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2" mat-dialog-close>
                <img src="assets/images/table.png" width="5%" class="d-block" alt="">
                <h3 class="card-title font-weight-bold ml-4" style="margin: 0;">TABLE 5</h3>
            </mat-card>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="accent"><i class="fa ta-times"></i> FERMER</button>
    </mat-card-actions>
    
</mat-card>