<div class="col-sm-12 p-0">
    <div class="d-flex">
        <span class="bg-danger ml-auto p-2 text-white" mat-dialog-close><i class="fa fa-times"></i></span>
    </div>
    <h1 class="text-center text-muted font-weight-bold">COMMANDE N° {{commande.numero}}</h1>
    <hr>
    <div class="col-sm-8 offset-sm-2">
        <div class="p-3 bg-light">
            <span class="d-block">TABLE: {{commande.table}}</span>
            <span class="d-block">CLIENT: {{commande.client}}</span>
            <span class="d-block">SERVEUR: {{commande.user.noms}}</span>
        </div>

        <div class="table-box border box overflow-auto">
            <table class="table table-sm table-hover">
                <thead>
                    <th class="border-0 text-center">N°</th>
                    <th class="border-0">DESIGNATION</th>
                    <th class="border-0 text-center">VOLUME</th>
                    <th class="border-0 text-center">PRIX UNIT.</th>
                    <th class="border-0 text-center">MONTANT</th>
                </thead>
                <tbody>
                    <tr class="border-0" *ngFor="let detail of commande.details; index as i">
                        <td class="border-0 text-center align-middle">{{i + 1}}</td>
                        <td class="border-0 align-middle">{{detail.article.nom}} <span *ngIf="detail.isAccompagnement">(OFFERT)</span></td>
                        <td class="border-0 text-center align-middle">{{detail.volume}} {{detail.article.uniteMesure}}(S)</td>
                        <td class="border-0 text-center align-middle">{{detail.prixUnitaire}} {{detail.article.tarif.fkDevise}}</td>
                        <td class="border-0 text-center align-middle">{{detail.montant}} {{detail.article.tarif.fkDevise}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <span class="card-text d-block d-inline-block p-2 font-weight-bold">MONTANT TOTAL USD : {{sumUSD()}}</span>
        <span class="card-text d-block d-inline-block p-2 font-weight-bold">MONTANT TOTAL CDF : {{sumCDF()}}</span>
        <mat-card class="col-sm-4 d-flex shadow-0 mr-4 cursor mt-5" (click)="print()">
            <img src="assets/images/printer.png" width="15%" class="d-block" alt="">
            <span class="card-text title p-1 font-weight-bold" style="margin: 0;">IMPRIMER</span>
        </mat-card>
    </div>
</div>