<div class="col-sm-12 p-0">
    <div class="mt-3">
        <mat-form-field class="col-sm-2 p-0 ml-2" appearance="outline" >
            <mat-label>Date debut</mat-label>
            <input [(ngModel)]="data.dateDebut" type="date" matInput placeholder="" />
        </mat-form-field>
        <mat-form-field class="col-sm-2 p-0 ml-2" appearance="outline" >
            <mat-label>Date fin</mat-label>
            <input [(ngModel)]="data.dateFin" type="date" matInput placeholder="" />
        </mat-form-field>
        <button mat-raised-button color="primary" class="ml-2">FILTRER</button>
        <button mat-raised-button color="accent" class="ml-2"><i class="fa fa-print"></i> IMPRIMER</button>
    </div>
    <h5 class="text-center">{{message}}</h5>
    <div class="mt-2">
        <mat-form-field class="col-sm-12 p-0" floatLabel="always" appearance="outline" >
            <mat-label>Recherche rapide</mat-label>
            <input type="text" [(ngModel)]="motclef" matInput placeholder="" />
        </mat-form-field>
    </div>
    <div class="mt-2">
        <table class="table table-hover table-sm">
            <thead>
                <th class="border-0">FACTURE</th>
                <th class="border-0">CLIENT</th>
                <th class="border-0">MONTANT PAYE</th>
                <th class="border-0">AGENT</th>
            </thead>
            <tbody>
                <tr *ngFor="let paiement of filterData()">
                    <td class="border-0 align-middle">{{paiement.fkFacture}}</td>
                    <td class="border-0 align-middle">{{paiement.client}}</td>
                    <td class="border-0 align-middle">{{paiement.montantPaye}} {{paiement.fkDevise}} </td>
                    <td class="border-0 align-middle">{{paiement.user.noms}}</td>
                    <td class="border-0 align-middle d-flex">
                        <button mat-raised-button color="primary" class="ml-2" (click)="viewFacture(paiement.facture)"><i class="fa fa-eye"></i> Visionner</button>
                        <button mat-raised-button color="primary" class="ml-2"><i class="fa fa-print"></i> Imprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>