<div class="col-sm-12 p-0">
    <h1 class="text-center">GESTION DES PAIEMENTS</h1>
    <hr>
    <div class="row col-sm-12">
        <div class="col-sm-4">
            <mat-card class="col-sm-12 d-flex shadow-0 mr-4 p-1 cursor mt-2" [routerLink]="['edit-paiement']" >
                <img src="assets/images/commande.png" width="15%" class="d-block" alt="">
                <span class="card-text title p-1 font-weight-bold" style="margin: 0;">APURER UNE FACTURE</span>
            </mat-card>

            <mat-card class="col-sm-12 d-flex shadow-0 mr-4 p-1 cursor mt-2" [routerLink]="['liste-paiement']">
                <img src="assets/images/file.png" width="15%" class="d-block" alt="">
                <span class="card-text title p-1 font-weight-bold" style="margin: 0;">LISTE DES APUREMENTS</span>
            </mat-card>
        </div>
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>