
<div class="col-sm-12 d-sm-flex p-5 justify-content-around flex-wrap">
    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2">
        <h4 class="text-center title p-1" style="margin: 0;">ENTREE STOCK</h4>
        <mat-card-content>
            <img src="assets/images/edit.png" width="35%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Emettre les bons d'entré des articles dans les stock. Ici on gère 
                enregistrement les articles qui entrent dans le magasin, depot et autres 
                pour une utilisation futur.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2">
        <h4 class="text-center title p-1" style="margin: 0;">SORTIE STOCK</h4>
        <mat-card-content>
            <img src="assets/images/edit.png" width="35%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Emettre les bons de sortie des articles dans les stock. Ici on gère 
                les sorties des articles du stock pour les motifs
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="col-sm-3 shadow mr-4 cursor mt-2">
        <h4 class="text-center title p-1" style="margin: 0;">RAPPORT DE STOCK</h4>
        <mat-card-content>
            <img src="assets/images/statistique.png" width="35%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Ici on retrouve tous les rapports concernant le stock des articles.
            </p>
        </mat-card-content>
    </mat-card>
    
</div>