<div class="col-sm-12 p-0">
    <h2 class="text-center text-muted font-italic">MENU EDITION DE TAXE</h2>
    <hr>
    <div class="d-sm-flex col-sm-12">
        <div class="col-sm-4">
            <mat-card class="col-sm-12 d-flex shadow-0 mr-4 p-1 cursor mt-2" (click)="newArticle()">
                <span class="h3 text-center  p-1 font-weight-bold" style="margin: 0;"><i class="fa fa-plus"></i> NOUVELLE TAXE</span>
            </mat-card>
            <input type="text" [(ngModel)]='motclef' class="form-control rounded-0 mt-2" placeholder="Entrer le mot à recherche">

            <div class="box overflow-auto pb-2">
                <mat-card class="col-sm-12 shadow-0 mr-4 p-3 mt-2" *ngFor="let cat of filtreData()">
                    <span class="d-block font-weight-bold h5" style="margin: 0;">{{cat.description}}</span>
                    <br>
                    <span class="d-block font-weight-bold h5" style="margin: 0;">{{cat.montant}} <span *ngIf="cat.isPourcentage">%</span><span *ngIf="!cat.isPourcentage && cat.devise">{{cat.devise.code}}</span></span>
                    <div class="mt-2">
                        <span class="d-inline-block cursor" (click)="edit(cat)"><i class="fa fa-edit fa-2x"></i> EDITER</span>
                        <span class="d-inline-block cursor ml-5"><i class="fa fa-trash fa-2x"></i> SUPPRIMER</span>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-7 ml-2" *ngIf="taxe">
            <h4 class="text-center text-muted ">NOUVELLE CATEGORIE</h4>
            <hr>
            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>Designation</mat-label>
                <input type="text" [(ngModel)]="taxe.description" required matInput placeholder="" />
            </mat-form-field>
            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>montant</mat-label>
                <input type="number" [(ngModel)]="taxe.montant" required matInput placeholder="" />
            </mat-form-field>
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="taxe.isPourcentage" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  La taxe est appliquée en pourcentage
                </label>
              </div>
            <mat-form-field *ngIf="!taxe.isPourcentage" appearance="outline" class="col-sm-12 p-0 mt-2">
                <mat-label>SELECTIONNER LA DEVISE</mat-label>
                <mat-select [(ngModel)]="taxe.fkDevise" >
                    <mat-option *ngFor="let devise of devises" value="{{devise.code}}">{{devise.code}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button (click)="valider()" mat-raised-button color="primary" class="p-2 d-inline-block mt-3"> <i class="fa fa-check"></i> VALIDER</button>
            <button (click)="resetArticle()" mat-raised-button color="accent" class="p-2 ml-5 d-inline-block"> <i class="fa fa-times"></i> REINITIALISER</button>
        </div>
    </div>
</div>