<div class="col-sm-12 p-0">
    <h2 class="text-center text-muted font-italic">EDITION D'UNE COMMANDE</h2>
    <hr>

    <div class="col-sm-12 d-sm-flex p-0">
        <mat-form-field class="mt-3 col-sm-5 p-0" floatLabel="always" appearance="outline">
            <mat-label>TABLE</mat-label>
            <input type="text" [(ngModel)]="commande.table" required matInput placeholder="" />
        </mat-form-field>
        <mat-form-field class="mt-3 col-sm-5 p-0 ml-4" floatLabel="always" appearance="outline">
            <mat-label>CLIENT</mat-label>
            <input type="text" [(ngModel)]="commande.client" matInput placeholder="" />
        </mat-form-field>
    </div>

    <div class="d-sm-flex">
        <mat-card class="col-sm-5 d-sm-flex shadow-0 mr-4 cursor mb-2 p-1 justifiy-content-center" (click)="openAjouterArticle()">
            <img src="assets/images/bouteille.png" width="10%" class="d-block" alt="">
            <span class="card-text"><i class="fa fa-plus"></i> AJOUTER UN ARTICLE</span>
        </mat-card>
        <span class="card-text ml-sm-5 d-inline-block p-2 font-weight-bold">MONTANT TOTAL USD : {{sumUSD()}}</span>
        <span class="card-text ml-sm-5 d-inline-block p-2 font-weight-bold">MONTANT TOTAL CDF : {{sumCDF()}}</span>
    </div>
    <div class="table-box border box overflow-auto rounded">
        <table class="table table-sm table-hover">
            <thead>
                <th class="border-0 text-center">N°</th>
                <th class="border-0">DESIGNATION</th>
                <th class="border-0 text-center">VOLUME</th>
                <th class="border-0 text-center">PRIX UNIT.</th>
                <th class="border-0 text-center">MONTANT</th>
            </thead>
            <tbody>
                <tr class="border-0" *ngFor="let detail of commande.details; index as i">
                    <td class="border-0 text-center align-middle">{{i + 1}}</td>
                    <td class="border-0 align-middle">{{detail.article.nom}} <span *ngIf="detail.isAccompagnement">(OFFERT)</span></td>
                    <td class="border-0 text-center align-middle">{{detail.volume}} {{detail.article.uniteMesure}}(S)</td>
                    <td class="border-0 text-center align-middle">{{detail.prixUnitaire}} {{detail.article.tarif.fkDevise}}</td>
                    <td class="border-0 text-center align-middle">{{detail.montant}} {{detail.article.tarif.fkDevise}}</td>
                    <td class="border-0 align-middle" (click)="deleteItem(i)"><div class="btn btn-outline-danger"><i class="fa fa-times"></i>Enlever</div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-sm-flex">
        <mat-card class="col-sm-5 d-flex shadow mr-4 cursor mt-2 justifiy-content-center" (click)="cloturer()">
            <img src="assets/images/facture.png" width="20" class="d-block" alt="">
            <span class="card-text">CLOTURER LA COMMANDE</span>
        </mat-card>
        <mat-card class="col-sm-5 d-flex shadow mr-4 cursor mt-2 justifiy-content-center" (click)="clear()">
            <i class="fa fa-times text-danger h5"></i>
            <span class="card-text">ANNULER</span>
        </mat-card>
    </div>
</div>