<div class="col-sm-12 p-0">
    <h2 class="text-center text-muted font-italic">EDITION D'UNE FACTURE</h2>
    <hr>

    <div class="col-sm-12 d-sm-flex p-0">
        <mat-form-field class="mt-3 col-sm-3 p-0" floatLabel="always" appearance="outline">
            <mat-label>Table</mat-label>
            <input type="text" [(ngModel)]="facture.table"  matInput placeholder="" />
        </mat-form-field>
        <mat-form-field class="mt-3 ml-1 col-sm-3" floatLabel="always" appearance="outline">
            <mat-label>Client</mat-label>
            <input type="text" [(ngModel)]="facture.client" matInput placeholder="" />
        </mat-form-field>
        <mat-form-field class="mt-3 ml-1 col-sm-2" floatLabel="always" appearance="outline">
            <mat-label>Remise en USD</mat-label>
            <input type="number" [(ngModel)]="facture.remise" matInput placeholder="" />
        </mat-form-field>
        <div class="mt-3">
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="facture.isRemisePourcentage" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  La remise est en pourcentage
                </label>
            </div>
            <div class="form-check mt-2">
                <input class="form-check-input" [(ngModel)]="facture.applyTva" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                  Appliquer la tva
                </label>
            </div>
        </div>
    </div>

    <div class="d-sm-flex">
        <mat-card class="col-sm-5 d-sm-flex shadow-0 mr-4 cursor mb-2 p-1 justifiy-content-center" (click)="openAjouterCommande()">
            <div class="col-sm-3">
                <img src="assets/images/bouteille.png" width="100%" class="d-block" alt="">
            </div>
            <span class="card-text"><i class="fa fa-check"></i> SELECTIONNER LES COMMANDES</span>
        </mat-card>
        <div>
            <span class="card-text ml-sm-5 d-inline-block p-2 font-weight-bold">TOTAL USD : {{sumUSD()}}</span>
            <span class="card-text ml-sm-5 d-inline-block p-2 font-weight-bold">TOTAL CDF : {{sumCDF()}}</span><br>
            <span *ngIf="facture.applyTva" class="card-text ml-sm-5 pl-2 d-inline-block font-weight-bold">TVA(14%): {{tva()}} USD</span>
        </div>
    </div>
    <div class="table-box border box overflow-auto rounded">
        <table class="table table-sm table-hover">
            <thead>
                <th class="border-0 text-center">N°</th>
                <th class="border-0">DESIGNATION</th>
                <th class="border-0 text-center">VOLUME</th>
                <th class="border-0 text-center">PRIX UNIT.</th>
                <th class="border-0 text-center">MONTANT</th>
            </thead>
            <tbody>
                <tr class="border-0 text-center" *ngFor="let detail of facture.details; index as i">
                    <td class="border-0 text-center align-middle">{{i + 1}}</td>
                    <td class="border-0 align-middle">{{detail.article.nom}} <span *ngIf="detail.isAccompagnement">(OFFERT)</span></td>
                    <td class="border-0 text-center align-middle">{{detail.volume}} {{detail.article.uniteMesure}}(S)</td>
                    <td class="border-0 text-center align-middle">{{detail.prixUnitaire}} {{detail.article.tarif.fkDevise}}</td>
                    <td class="border-0 text-center align-middle">{{detail.montant}} {{detail.article.tarif.fkDevise}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="d-sm-flex">
        <mat-card (click)="save()" class="col-sm-5 d-flex shadow mr-4 cursor mt-2 justifiy-content-center">
            <img src="assets/images/facture.png" width="20" class="d-block" alt="">
            <span class="card-text">VALIDER LA FACTURE</span>
        </mat-card>
        <mat-card  (click)="clear()" class="col-sm-5 d-flex shadow mr-4 cursor mt-2 justifiy-content-center">
            <i class="fa fa-times text-danger h5"></i>
            <span class="card-text">ANNULER</span>
        </mat-card>
    </div>
</div>