
<mat-card class="p-3">
    <mat-card-header>
        <mat-card-title class="text-center">SELECTIONNER UNE COMMANDE</mat-card-title>
    </mat-card-header>
    <div class="d-flex">
        <span class="d-inline-block p-2 my-1 bg-danger text-white cursor" (click)="close()">TERMINER</span>
    </div>
    <mat-card-content>
        <input type="text" class="form-control" [(ngModel)]="motClef" name="" placeholder="Saisir (Nom du serveur, du client ou de la table)" id="">
        <hr>
        <div class="box overflow-auto ">
            <div class="p-1" *ngFor="let commande of filterData(); index as i" (click)="add(commande)">
                <mat-card class="col-sm-12 shadow-sm p-4 cursor my-1" [ngClass]="{'bg-dark': isAlreadySelected(commande), 'text-white': isAlreadySelected(commande)}">
                    <h2 class="font-weight-bold" style="margin: 0;">{{commande.numero}}</h2>
                    <span class="h6 d-blok">{{commande.table}}</span>
                    <span class="h6 d-block">{{commande.user.noms}}</span>
                    <span class="h6">Montant total: {{commande.montantTotal}} {{commande.fkDefaultDevise}}</span>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
    
</mat-card>