<div class="row h-100">
    <!-- <div class="offset-sm-1 col-sm-4 d-sm-flex flex-wrap flex-column justify-content-center p-5">
        <img src="assets/images/logo.png" alt="" class="w-100 d-block">
        <h1 class="text-nexa-bold">I-MANAGER</h1>
        <p class="text-justify mt-3">
            Système de gestion de stock et facturation dans les Restaurants, Bars, Terasses,
            Night-Club
        </p>
        <div class="d-block">
            <div class="btn shadow mt-4 rounded-0 btn-primary"><i class="fa fa-plus"></i> Voir plus</div>
        </div>
    </div> -->
    <div class="col-sm-8 p-5 d-sm-flex offset-sm-2 flex-column justify-content-center">
        <form (ngSubmit)="onSubmit()" #form="ngForm" class="form offset-sm-2 col-sm-8 bg bg-white rounded p-5 shadow">
            <h1 class="text-center font-weight-bold title">CONNEXION</h1>
            <div class="form-group">
                <label for="username"><i class="fa fa-user"></i> Nom d'utilisateur</label>
                <input type="text" [(ngModel)]="data.username" name="username" id="username" class="form-control rounded-0">
            </div>
            <div class="form-group">
                <label for="password"><i class="fa fa-lock"></i> Mot de passe</label>
                <input type="password" [(ngModel)]="data.password" name="password" id="password" class="form-control rounded-0">
            </div>
            <span class="col-sm-12 text-danger">{{message}}</span>
            <button type="submit" class="btn btn-primary d-block col-12 m-0 rounded-0 shadow">CONNEXION</button>
        </form>
    </div>

</div>
