<div class="col-sm-12 p-0">
    <h2 class="text-center text-muted font-italic">MENU EDITION DE SITE DE VENTE</h2>
    <hr>
    <div class="d-sm-flex col-sm-12">
        <div class="col-sm-4">
            <mat-card class="col-sm-12 d-flex shadow-0 mr-4 p-1 cursor mt-2" (click)="newArticle()">
                <span class="h3 text-center  p-1 font-weight-bold" style="margin: 0;"><i class="fa fa-plus"></i> NOUVEAU SITE</span>
            </mat-card>
            <input type="text" [(ngModel)]='motclef' class="form-control rounded-0 mt-2" placeholder="Entrer le mot à recherche">

            <div class="box overflow-auto pb-2">
                <mat-card class="col-sm-12 shadow-0 mr-4 p-3 mt-2" *ngFor="let cat of filtreData()">
                    <span class="d-block font-weight-bold h5" style="margin: 0;">{{cat.description}}</span>
                    <div class="mt-2">
                        <span class="d-inline-block cursor" (click)="edit(cat)"><i class="fa fa-edit fa-2x"></i> EDITER</span>
                        <span class="d-inline-block cursor ml-5"><i class="fa fa-trash fa-2x"></i> SUPPRIMER</span>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-7 ml-2" *ngIf="site">
            <h4 class="text-center text-muted ">NOUVELLE CATEGORIE</h4>
            <hr>
            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>Designation</mat-label>
                <input type="text" [(ngModel)]="site.description" required matInput placeholder="" />
            </mat-form-field>

            <button (click)="valider()" mat-raised-button color="primary" class="p-2 d-inline-block"> <i class="fa fa-check"></i> VALIDER</button>
            <button (click)="resetArticle()" mat-raised-button color="accent" class="p-2 ml-5 d-inline-block"> <i class="fa fa-times"></i> REINITIALISER</button>
        </div>
    </div>
</div>