<div class="col-sm-12 border-0">
    <!-- <div class="text-center p-2 border shadow-sm mt-2 cursor choice rounded" (click)="choisirTable()">
        <img src="assets/images/table.png" width="50" class="align-middle" alt="">
        <span class="h4 font-weight-bold d-inline-block ml-3">CHOISIR UNE TABLE</span>
    </div> -->

    <div class="col-sm-12 d-sm-flex">
        <div class="col-sm-3">
            <mat-card class="col-sm-12 d-flex shadow-0 mr-4 p-1 cursor mt-2" [routerLink]="['edit-facture']" >
                <img src="assets/images/facture.png" width="15%" class="d-block" alt="">
                <span class="card-text title p-1 font-weight-bold" style="margin: 0;">NOUVELLE FACTURE</span>
            </mat-card>
            <mat-card class="col-sm-12 d-flex shadow-0 mr-4 cursor mt-2" [routerLink]="['liste-factures']">
                <img src="assets/images/printer.png" width="15%" class="d-block" alt="">
                <span class="card-text title p-1 font-weight-bold" style="margin: 0;">LISTE DES FACTURES</span>
            </mat-card>
        </div>
        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>