
<mat-card class="p-3">
    <mat-card-header>
        <mat-card-title class="text-center">SELECTIONNER UNE FACTURE</mat-card-title>
    </mat-card-header>
    <div class="d-flex">
        <span class="d-inline-block p-2 my-1  ml-auto bg-danger text-white cursor" mat-dialog-close>FERMER</span>
    </div>
    <mat-card-content>
        <input type="text" class="form-control" [(ngModel)]="motClef" name="" placeholder="Saisir (Nom du serveur, du client ou de la table ou en core le numero de la facture)" id="">
        <hr>
        <div class="box overflow-auto ">
            <div class="p-1" *ngFor="let facture of filterData(); index as i" (click)="select(facture)">
                <mat-card class="col-sm-12 shadow-sm p-4 cursor my-1">
                    <h2 class="font-weight-bold" style="margin: 0;">{{facture.numero}}</h2>
                    <span class="h6 d-blok">{{facture.table}}</span>
                    <span class="h6 d-block">{{facture.user.noms}}</span>
                    <span class="h6">Montant total: {{facture.montantTotal}} {{facture.fkDefaultDevise}}</span>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
    
</mat-card>