<div class="col-sm-12 p-0">
    <div class="mt-3">
        <mat-form-field appearance="outline" class="col-sm-2 p-0">
            <mat-label>Site</mat-label>
            <mat-select >
                <mat-option value="Site">Site</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-2 p-0 ml-2" appearance="outline" >
            <mat-label>Date debut</mat-label>
            <input type="date" matInput placeholder="" />
        </mat-form-field>
        <mat-form-field class="col-sm-2 p-0 ml-2" appearance="outline" >
            <mat-label>Date fin</mat-label>
            <input type="date" matInput placeholder="" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-2 p-0 ml-2">
            <mat-label>Etat</mat-label>
            <mat-select >
                <mat-option value="Etat">Etat</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="ml-2">FILTRER</button>
        <button mat-raised-button color="accent" class="ml-2"><i class="fa fa-print"></i> IMPRIMER</button>
    </div>
    <h5 class="text-center">65 Commandes éffectuées</h5>
    <div class="mt-2">
        <mat-form-field class="col-sm-12 p-0" floatLabel="always" appearance="outline" >
            <mat-label>Recherche rapide</mat-label>
            <input type="text" matInput placeholder="" />
        </mat-form-field>
    </div>
    <div class="mt-2">
        <table class="table table-hover table-sm">
            <thead>
                <th class="border-0">NUMERO</th>
                <th class="border-0">TABLE</th>
                <th class="border-0">CLIENT</th>
            </thead>
            <tbody>
                <tr>
                    <td class="border-0 align-middle">00001</td>
                    <td class="border-0 align-middle">Lorem ipsum dolor sit amet.</td>
                    <td class="border-0 align-middle">Lorem, ipsum dolor.</td>
                    <td class="border-0 align-middle">
                        <button mat-raised-button color="accent" class="ml-"><i class="fa fa-edit"></i> Modifier</button>
                        <button mat-raised-button color="primary" class="ml-2"><i class="fa fa-eye"></i> Visionner</button>
                        <button mat-raised-button color="primary" class="ml-2"><i class="fa fa-print"></i> Imprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>