<div class="col-sm-12 p-0">
    <h3 class="text-center border rounde p-2 cursor" (click)="openChoisirArticle()">CHOISIR L'ARTICLE</h3>
    <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2" *ngIf="detail.article">
       <div class="d-flex">
        <div class="col-sm-3">
            <img src="assets/images/article.png" width="100%" class="d-block" alt="">
        </div>
        <div>
         <span class="d-block font-weight-bold h5" style="margin: 0;">{{detail.article.nom}}</span>
         <span class="d-block font-weight-bold h7" style="margin: 0;" *ngIf="detail.article.tarif">Prix unitaire:{{detail.article.tarif?.montant}} {{detail.article.tarif?.devise.description}}</span>
         <span class="d-block font-weight-bold h7" style="margin: 0;" *ngIf="detail.article.tarif">Remise:{{detail.article.remise}} <span *ngIf="detail.article.isRemisePourcentage">%</span> <span *ngIf="!detail.article.isRemisePourcentage">{{detail.article.tarif.devise.description}}</span></span>
         <span class="d-block font-weight-bold h7" style="margin: 0;">Seuil de remise:{{detail.article.remiseApartirDe}} {{detail.article.uniteMesure}}</span>
 
         <span class="d-block font-weight-bold h7" style="margin: 0;">Stock restant:{{detail.article.stockRestant}}</span>
         <span class="d-block font-weight-bold h7" style="margin: 0;">Seuil d'alerte:{{detail.article.stockAlert}}</span>
        </div>
       </div>
    </mat-card>
    <div class="form-check mt-3" *ngIf="detail.article">
        <input class="form-check-input" [(ngModel)]="detail.isAccompagnement" (change)="isAccopagnement()" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Offert comme accompagnement
        </label>
      </div>
    <mat-form-field class="mt-3" floatLabel="always" appearance="outline"  *ngIf="detail.article">
        <mat-label>Nombre de {{detail.article.uniteMesure}} </mat-label>
        <input type="number" (keyup)="calcul()" [(ngModel)]="detail.volume" required matInput placeholder="" />
    </mat-form-field>

    <mat-form-field *ngIf="detail.article" class="mt-3 ml-4" floatLabel="always" appearance="outline">
        <mat-label>Montant Total en {{detail.article.tarif?.devise.description}}</mat-label>
        <input type="number" [disabled]="detail.isAccompagnement" [(ngModel)]="detail.montant" disabled required matInput placeholder="" />
    </mat-form-field>

    <div class="btn btn-primary mt-5 col-sm-12 p-2" (click)="add()">AJOUTER</div>

</div>