<mat-toolbar class="bg bg-dark">
    <div class="d-flex col-12 p-0 justify-content-between bg-dark">
        <div class="col-1 cursor text-white" routerLink="/main">
            i-Manager
        </div>
        <div class="dropdown my-auto ml-auto mr-0 text-white cursor">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i> {{user.noms}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Modifier mot de passe</a>
                <a class="dropdown-item" href="#">Deconnexion</a>
            </div>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <div class="col-sm-12">
    <p class="text-right font-weight-bold col-sm-11 pr-3 fixed-bottom text-danger">Allrights reserved Rucorp Technologies &copy;2020</p>
</div> -->