<div class="col-sm-12 p-0">
    <h1 class="text-center font-weight-bold">CREATION D'UNE NOUVELLE COMMANDE</h1>
    <hr>
    <h3 class="text-center border rounde p-2 cursor" (click)="openSelectionnerServeur()">CHOISIR UN SERVEUR</h3>
    <mat-card class="col-sm-12 d-flex shadow-sm mr-4 p-4 cursor mt-2" *ngIf="serveur">
        <img src="assets/images/waitress.png" width="5%" class="d-block" alt="">
        <div>
            <h3 class="card-title font-weight-bold ml-4" style="margin: 0;">SERVEUR 1</h3>
            <span class="card-text b-block ml-4">Ruben Panga</span>
        </div>
    </mat-card>
    <mat-form-field class="mt-3 col-sm-12" floatLabel="always" appearance="outline">
        <mat-label>CLIENT </mat-label>
        <input type="text" required matInput placeholder="" />
    </mat-form-field>
    <div class="btn btn-primary mt-5 col-sm-12 p-2" mat-dialog-close>VALIDER</div>
</div>