<div class="col-sm-12 p-0">
    <h2 class="text-center text-muted font-italic">MENU EDITION DES ARTICLES</h2>
    <hr>
    <div class="d-sm-flex col-sm-12">
        <div class="col-sm-4">
            <mat-card class="col-sm-12 d-flex shadow-0 mr-4 p-1 cursor mt-2" (click)="newArticle()">
                <span class="h3 text-center  p-1 font-weight-bold" style="margin: 0;"><i class="fa fa-plus"></i> NOUVEL ARTICLE</span>
            </mat-card>
            <input type="text" [(ngModel)]='motclef' class="form-control rounded-0 mt-2" placeholder="Entrer le mot à recherche">

            <div class="box overflow-auto pb-2">
                <mat-card class="col-sm-12 shadow-0 mr-4 p-3 mt-2" *ngFor="let cat of filtreData()">
                    <span class="d-block font-weight-bold h5" style="margin: 0;">{{cat.nom}}</span>
                    <span class="d-block font-weight-bold h7" style="margin: 0;">{{cat.code}}</span>
                    <span class="d-block font-weight-bold h7" style="margin: 0;">{{cat.categorie.description}}</span>
                    <span class="d-block font-weight-bold h7" style="margin: 0;">Unité de mesure:{{cat.uniteMesure}}</span>
                    <span class="d-block font-weight-bold h7" style="margin: 0;" *ngIf="cat.tarif">Prix unitaire:{{cat.tarif?.montant}} {{cat.tarif?.devise.description}}</span>
                    <span class="d-block font-weight-bold h7" style="margin: 0;" *ngIf="cat.tarif">Remise:{{cat.remise}} <span *ngIf="cat.isRemisePourcentage">%</span> <span *ngIf="cat.isRemisePourcentage">{{cat.tarif.devise.description}}</span></span>
                    <span class="d-block font-weight-bold h7" style="margin: 0;">Seuil de remise:{{cat.remiseApartirDe}} {{cat.uniteMesure}}</span>

                    <span class="d-block font-weight-bold h7" style="margin: 0;">Stock restant:{{cat.stockRestant}}</span>
                    <span class="d-block font-weight-bold h7" style="margin: 0;">Seuil d'alerte:{{cat.stockAlert}}</span>

                    <div class="mt-2">
                        <span class="d-inline-block cursor" (click)="edit(cat)"><i class="fa fa-edit fa-2x"></i> EDITER</span>
                        <span class="d-inline-block cursor ml-5"><i class="fa fa-trash fa-2x"></i> SUPPRIMER</span>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-7 ml-2" *ngIf="article">
            <h4 class="text-center text-muted ">NOUVEL ARTICLE</h4>
            <hr>
            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>CODE</mat-label>
                <input type="text" [(ngModel)]="article.code" required matInput placeholder="" />
            </mat-form-field>

            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>NOM DE L'ARTICLE</mat-label>
                <input type="text" [(ngModel)]="article.nom" required matInput placeholder="" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-sm-12 p-0">
                <mat-label>SELECTIONNER LA CATEGORIE</mat-label>
                <mat-select required [(ngModel)]="article.fkCategorieArticle" >
                    <mat-option *ngFor="let categorie of categories" value="{{categorie.id}}">{{categorie.description}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>UNITE DE MESURE</mat-label>
                <input type="text" [(ngModel)]="article.uniteMesure" required matInput placeholder="" />
            </mat-form-field>

            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>STOCK RESTANT</mat-label>
                <input type="number" [(ngModel)]="article.stockRestant" required matInput placeholder="" />
            </mat-form-field>

            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>STOCK D'ALERTE</mat-label>
                <input type="number" [(ngModel)]="article.stockAlert" required matInput placeholder="" />
            </mat-form-field>

            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>PRIX UNITAIRE</mat-label>
                <input type="number" [(ngModel)]="article.tarif.montant" required matInput placeholder="" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-sm-12 p-0">
                <mat-label>SELECTIONNER LA DEVISE</mat-label>
                <mat-select required [(ngModel)]="article.tarif.fkDevise" >
                    <mat-option *ngFor="let devise of devises" value="{{devise.code}}">{{devise.code}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>REMISE</mat-label>
                <input type="number" [(ngModel)]="article.remise" required matInput placeholder="" />
            </mat-form-field>

            <mat-form-field class="mt-3 col-sm-12 p-0" floatLabel="always" appearance="outline">
                <mat-label>SEUIL REMISE</mat-label>
                <input type="number" [(ngModel)]="article.remiseApartirDe" required matInput placeholder="" />
            </mat-form-field>

            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="article.isRemisePourcentage" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  La remise est en pourcentage
                </label>
              </div>

              <hr>

            <button (click)="valider()" mat-raised-button color="primary" class="p-2 d-inline-block"> <i class="fa fa-check"></i> VALIDER</button>
            <button (click)="resetArticle()" mat-raised-button color="accent" class="p-2 ml-5 d-inline-block"> <i class="fa fa-times"></i> REINITIALISER</button>
        </div>
    </div>
</div>