<div class="col-sm-8">
    <h4 class="text-center mt-3 mt-sm-1 font-weight-bold">COMMANDE 00019-20</h4>
    <span class="d-inline-block">Serveur: Ruben PANGA</span> <span class="d-inline-block ml-5">Montant Total: USD</span>
    <hr>
    <mat-card (click)="openAjouterArticle()" class="col-sm-5 d-flex shadow-0 mr-4 cursor mb-2 p-1 justifiy-content-center">
        <img src="assets/images/bouteille.png" width="10%" class="d-block" alt="">
        <span class="card-text"><i class="fa fa-plus"></i> AJOUTER UN ARTICLE</span>
    </mat-card>
    <div class="table-box border overflow-auto rounded">
        <table class="table table-sm table-hover">
            <thead>
                <th class="border-0 text-center">N°</th>
                <th class="border-0">DESIGNATION</th>
                <th class="border-0 text-center">VOLUME</th>
                <th class="border-0 text-center">PRIX UNIT.</th>
                <th class="border-0 text-center">MONTANT</th>
            </thead>
            <tbody>
                <tr class="border-0" *ngFor="let article of articles; index as i">
                    <td class="border-0 text-center align-middle">{{i + 1}}</td>
                    <td class="border-0 align-middle">{{article.designation}}</td>
                    <td class="border-0 text-center align-middle">{{article.volume}}</td>
                    <td class="border-0 text-center align-middle">{{article.prixUnitaire}}</td>
                    <td class="border-0 text-center align-middle">{{article.montant}}</td>
                    <td class="border-0 align-middle"><div class="btn btn-outline-danger"><i class="fa fa-times"></i>Enlever</div></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-sm-flex">
        <mat-card class="col-sm-5 d-flex shadow mr-4 cursor mt-2 justifiy-content-center" (click)="askCloturer()">
            <img src="assets/images/facture.png" width="20" class="d-block" alt="">
            <span class="card-text">CLOTURER LA COMMANDE</span>
        </mat-card>
        <mat-card class="col-sm-5 d-flex shadow mr-4 cursor mt-2 justifiy-content-center">
            <i class="fa fa-times text-danger h5"></i>
            <span class="card-text">ANNULER</span>
        </mat-card>
    </div>
</div>