<div class="col-sm-12 p-0">
    <div class="mt-3">
        <mat-form-field class="col-sm-2 p-0 ml-2" appearance="outline" >
            <mat-label>Date debut</mat-label>
            <input [(ngModel)]="data.dateDebut" type="date" matInput placeholder="" />
        </mat-form-field>
        <mat-form-field class="col-sm-2 p-0 ml-2" appearance="outline" >
            <mat-label>Date fin</mat-label>
            <input [(ngModel)]="data.dateFin" type="date" matInput placeholder="" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-2 p-0 ml-2">
            <mat-label>Etat</mat-label>
            <mat-select [(ngModel)]="data.etat" >
                <mat-option value="ATTENTE">EN ATTENTE</mat-option>
                <mat-option value="SOLDE">SOLDEES</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="getFacture()" color="primary" class="ml-2">FILTRER</button>
        <button mat-raised-button color="accent" class="ml-2"><i class="fa fa-print"></i> IMPRIMER</button>
    </div>
    <h5 class="text-center">{{message}}</h5>
    <div class="mt-2" *ngIf="factures && factures.length > 0">
        <mat-form-field class="col-sm-12 p-0" floatLabel="always" appearance="outline" >
            <mat-label>Recherche rapide</mat-label>
            <input type="text" [(ngModel)]="motclef" matInput placeholder="" />
        </mat-form-field>
    </div>
    <div class="mt-2" *ngIf="factures && factures.length > 0">
        <table class="table table-hover table-sm">
            <thead>
                <th class="border-0">NUMERO</th>
                <th class="border-0">CLIENT</th>
                <th class="border-0">MONTANT</th>
                <th class="border-0">AGENT</th>
                <th class="border-0">STATUT</th>
            </thead>
            <tbody>
                <tr *ngFor="let facture of filterData()">
                    <td class="border-0 align-middle">{{facture.numero}}</td>
                    <td class="border-0 align-middle">{{facture.client}}</td>
                    <td class="border-0 align-middle">{{facture.montantTotal}} {{facture.fkDefaultDevise}} </td>
                    <td class="border-0 align-middle">{{facture.user.noms}}</td>
                    <td class="border-0 align-middle">{{facture.etat}}</td>
                    <td class="border-0 align-middle d-flex">
                        <button mat-raised-button color="accent" class="ml-"><i class="fa fa-edit"></i> Modifier</button>
                        <button mat-raised-button color="primary" class="ml-2" (click)="viewFacture(facture)"><i class="fa fa-eye"></i> Visionner</button>
                        <button mat-raised-button color="primary" class="ml-2" (click)="printFacture(facture.numero)"><i class="fa fa-print"></i> Imprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>