<div class="col-sm-12 p-0">
    <div class="d-flex">
        <span class="bg-danger ml-auto p-2 text-white" mat-dialog-close><i class="fa fa-times"></i></span>
    </div>
    <h1 class="text-center text-muted font-weight-bold">FACTURE N° {{facture.numero}}</h1>
    <hr>
    <div class="col-sm-8 offset-sm-2">
        <div class="p-3 bg-light">
            <span class="d-block">TABLE: {{facture.table}}</span>
            <span class="d-block">CLIENT: {{facture.client}}</span>
            <span class="d-block">SERVEUR: {{facture.user.noms}}</span>
        </div>

        <div class="table-box border box overflow-auto">
            <table class="table table-sm table-hover">
                <thead>
                    <th class="border-0 text-center">N°</th>
                    <th class="border-0">DESIGNATION</th>
                    <th class="border-0 text-center">VOLUME</th>
                    <th class="border-0 text-center">PRIX UNIT.</th>
                    <th class="border-0 text-center">MONTANT</th>
                </thead>
                <tbody>
                    <tr class="border-0" *ngFor="let detail of facture.details; index as i">
                        <td class="border-0 text-center align-middle">{{i + 1}}</td>
                        <td class="border-0 align-middle">{{detail.article.nom}} <span *ngIf="detail.isAccompagnement">(OFFERT)</span></td>
                        <td class="border-0 text-center align-middle">{{detail.volume}} {{detail.article.uniteMesure}}(S)</td>
                        <td class="border-0 text-center align-middle">{{detail.prixUnitaire}} {{detail.article.tarif.fkDevise}}</td>
                        <td class="border-0 text-center align-middle">{{detail.montant}} {{detail.article.tarif.fkDevise}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <span class="card-text d-block d-inline-block p-2 font-weight-bold">MONTANT TOTAL(SANS TAXE ET TVA):{{sumUSDWithoutTva()}} {{facture.fkDefaultDevise}}</span>
        <span *ngIf="facture.applyTva" class="card-text d-block d-inline-block p-2 font-weight-bold">TVA(16%): {{tva()}} USD</span>
        <span class="card-text d-block d-inline-block p-2 font-weight-bold">REMISE: {{facture.remise}} <span *ngIf="facture.isRemisePourcentage">%</span><span *ngIf="!facture.isRemisePourcentage">{{facture.fkDefaultDevise}}</span></span>
        <span class="card-text d-block d-inline-block p-2 font-weight-bold">MONTANT TOTAL {{facture.fkDefaultDevise}} : {{facture.montantTotal}}</span>
        <span class="card-text d-block d-inline-block p-2 font-weight-bold">MONTANT TOTAL CDF : {{sumCDF()}}</span>
        <mat-card class="col-sm-4 d-flex shadow-0 mr-4 cursor mt-3" (click)="print()">
            <img src="assets/images/printer.png" width="15%" class="d-block" alt="">
            <span class="card-text title p-1 font-weight-bold" style="margin: 0;">IMPRIMER</span>
        </mat-card>
    </div>
</div>